@font-face {
    font-family: minecraft;
    src: url(fonts/1_Minecraft-Regular.ttf);
}

.banner {
    font-family: "minecraft";
    background-image: url(images/abstract-white-and-grey-pattern-background-design-abstract-graphic-design-white-and-grey-banner-pattern-background-web-template-abstract-white-wallpaper-abstract-white-background-free-vector.webp);
    color:whitesmoke;


}
