@font-face {
    font-family: minecraft;
    src: url(fonts/1_Minecraft-Regular.ttf);
}

.banner {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

.text {
    color: white;
}
