@font-face {
    font-family: minecraft;
    src: url(fonts/1_Minecraft-Regular.ttf);
}

.banner {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
    background-position: top;
}

.text {
    color: white;
    font-family: 'minecraft';
}

.end {
    text-align: center;
    position: absolute;
    width: 99%;
    background-color: rgb(20, 20, 20);
    background-position: bottom;
    bottom: 0px;
}

.button {
    border-radius: 5px;
    border-image: linear-gradient(to right, purple , darkblue);
}